@import '../../Styles.scss';

.template-section {
  background-color: $bgColor;
  padding-top: $xs;
  padding-bottom: 2 * $lg;

  .actual-width {
    max-width: 1104px;
    margin: 0 auto;
  }

  .template-top {
    @include flex-row;
    flex-wrap: wrap;

    .template-title {
      color: $inputColor;
      font-size: $md;
    }

    .template-right {
      display: flex;

      .gallery-button {
        @include flex-row;
        border: none;
        background: transparent;
        outline: none;
        font-size: 14px;
        margin-right: $xs;
      }
    }
  }

  .template-body {
    @include flex-row;
    justify-content: flex-start;
    flex-wrap: wrap;

    .card {
      margin-right: $lg;
      margin-top: $sm;

      .card-image {
        box-sizing: border-box;
        height: 120px;
        width: 171px;
        border-radius: 2px;
        border: 0.5px solid #fffdf7;
        cursor: pointer;
      }

      .card-image:hover {
        border: 1px solid #6e2594;
      }

      .title {
        font-size: 14px;
        font-weight: 500;
        color: $inputColor;
        margin-top: $xs;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .template-section {
    .actual-width {
      padding: 0 $xl;
    }
  }
}