@import '../Styles.scss';

.login-container {
  @include flex-row;
  width: 100%;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
  height: 100vh;
  justify-content: center;

  .main {
    width: 50%;
    height: 600px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    @include flex-column;
    justify-content: center;

    label {
      @include flex-column;
      color: $main;
      font-size: 2 * $md;
      margin: 2 * $md;
      font-weight: bold;
      cursor: pointer;
      transition: 0.5s ease-in-out;
    }

    input {
      @include flex-row;
      width: 20 * $lg;
      height: $lg;
      background: $bgColor;
      padding: $sm;
      border: none;
      outline: none;
      border-radius: $xs;
    }

    .input-box {
      margin-bottom: $lg;
    }

    button {
      @include flex-row;
      justify-content: center;
      margin: $sm auto;
      width: 50%;
      text-align: center;
      height: 2 * $lg;
      color: $main;
      background: #573b8a;
      margin-top: $lg;
      outline: none;
      border: none;
      border-radius: $xs;
      text-transform: uppercase;
      cursor: pointer;
    }

    button:hover {
      background: #6d44b8;
    }

    .text-button {
      color: $main;
      text-align: center;
      cursor: pointer;
    }

    .error-text {
      color: $main;
      margin: 2*$xs 0;
    }
  }
}

@media screen and (max-width: 760px) {
  .login-container {
    .main {
      width: 100%;
    }
  }
}